
.mi-img{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    width: 375px;
}
.mi-img .box{
    display: flex;
    height: 100%;
    width: 375px;
}
/* 设置媒体查询 */
@media screen and (min-width: 1000px)
{
    .mi-img .box img{
        width: 200px;
    }
}
@media screen and (min-width: 1200px)
{
    .mi-img .box img{
        width: 375px;
    }
}
@media screen and (max-width: 1000px)
{
    .mi-img .box img{
        width: 0;
    }
}

/* 设置右边 */
.mi__content {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin-left: 0;
}

@media screen and (min-width: 1000px)
{
    .mi__content {
        margin-left: 200px;
    }
}

@media screen and (min-width: 1200px){
    .mi__content {
        margin-left: 375px;
    }
}

.mi-scroll {
    display: flex;
    justify-content: center;
    height: 100%;
    overflow: auto;
}
.mi-layout{
    width: 100%;
}

/* 设置右边上 */
.mi-layout__header {
    padding: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}
.mi-layout__title {
    float: left;
    height: 40px;
    font-size: 26px;
    font-weight: 500;
    color: #333;
    line-height: 40px;
}
.mi-layout__title .mi-logo{
    display: flex;
    width: 154px;
    height: 40px;
}
.mi-layout__title .mi-logo img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.mi-layout__title .mi-logo span{
    width: 130px;
    height: 43px;
}
.mi-nav {
    float: right;
}

.mi-nav__item {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    color: #838383;
    line-height: 40px;
}
.mi-nav__divider {
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    height: 14px;
    width: 0;
    border-right: 1px solid #ddd;
}
/* 设置中间 */
.mi-layout__container{
    display: flex;
    justify-content: center;
}
.mi-layout__card {
    display: inline-block;
    box-sizing: border-box;
    padding: 40px 45px;
    position: relative;
    min-width: 450px;
    width: 450px;
    height: 600px;
    display: flex;
    justify-content: center;
    margin: 0 0 80px 0;
    box-shadow: 0 20px 50px 0 hsl(0deg 0% 64% / 10%);
}
.mi-qr-login-switch {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: 64px;
    height: 64px;
    opacity: .4;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    border-color: #ff5c00 #ff5c00 rgba(0,0,0,0) rgba(0,0,0,0);
    border-style: solid;
    border-width: 32px;
    background-size: cover;
}
.mi-qr-login-switch__icon {
    position: absolute;
    font-size: 36px;
    top: -22px;
    right: -22px;
}
.mi-qr-login-switch__icon img{
    width: 36px;
    height: 36px;
}
.mi-qr-login-switch:hover {
    opacity: 1;
}

/* 设置中部总 */
.ant-tabs{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 520px;
}
/* 设置中部上 */
.ant-tabs .tabs-1{
    width: 360px;
    height: 41px;
    border-bottom: none;
    margin: 0 0 10px;
}
.ant-tabs .tabs-1 .box{
    display: flex;
    width: 128px;
    height: 41px;
    font-size: 22px;
    font-weight: 400;
}
.tabs-1 .box .box1,
.tabs-1 .box .box2{
    font-size: 22px;
    font-weight: 400;
    padding: 0 0 4px;
    margin: 0 20px 0 0;
    width: 44px;
    height: 41px;
    line-height: 41px;
}
.ant-tabs .tabs-1 .box a:active{
    color: #333;
    font-weight: 500;
}

/* 设置中部中 */
.mi-form__content{
    display: flex;
    flex-direction: column;
    min-height: 335px;
    padding: 20px 2px 0;
    width: 360px;
    height: 335px;
}

.mi-form__content input{
    width: 354px;
    height: 60px;
    border: none;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 10px;
    background: #fcf2f3;
}
.mi-form__content input:hover~.label1{
    font-size: 10px;
    top: 120px;
}
.mi-form__content input:hover~.label2{
    font-size: 10px;
    top: 220px;
}

.list-1 label{
    color: #f04645;
    font-weight: 400;
    font-size: 17px;
    position: absolute;
    left: 65px;
    top: 135px;
}
.list-2 label{
    color: #f04645;
    font-weight: 400;
    font-size: 17px;
    position: absolute;
    left: 65px;
    top: 235px;
}
.mi-form__content .idea{
    width: 356px;
    height: 20px;
    font-size: 12px;
    color: #f04645;
    margin-bottom: 10px;
}

.mi-form__content button{
    margin-bottom: 10px;
    width: 100%;
    color: #fff;
    background-color: #ff7e29;
    cursor: default;
    opacity: .4;
    font-size: 18px;
    height: 60px;
    border-radius: 4px;
    border: none;
}

.list-last{
    width: 356px;
    height: 35px;
}
.list-last .left{
    float: left;
    font-size: 17px;
    margin-bottom: 10px;
   
}
.list-last .left a{
    color: #ff5c00;
}
.list-last .right{
    float: right;
    font-size: 17px;
    margin-bottom: 10px;
    color: #ff5c00;
}

/* 中部下 */
.bottom{
    margin-top: 20px;
    width: 360px;
    height: 96px;
}
.bottom .bottom-title{
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    color: #aaa;
    line-height: 40px;
}

.bottom-logo{
    display: flex;
    width: 360px;
    height: 46px;
    margin-top: 10px;
    justify-content: center;
}
.bottom-logo div{
    display: inline-block;
    width: 46px;
    margin: 0 12px;
    font-size: 46px;
}

.mi-copyright {
    padding: 0 20px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #999;
    font-size: 12px;
    height: 20px;
}